<div class="content">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Select a Faculty
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form
        [formGroup]="matForm"
        fxLayout="row"
        fxLayout.lt-md="column"
        fxLayoutGap="30px"
        fxLayoutGap.lt-md="10px"
        (ngSubmit)="getStudents()"
      >
        <mat-form-field fxFlex="50%" fxFlex.lt-md="100%">
          <mat-label>Faculty</mat-label>
          <mat-select formControlName="faculty" required>
            <mat-option *ngFor="let fac of facultyList" [value]="fac">
              {{ fac.name }}
            </mat-option>
          </mat-select>

          <mat-error *ngIf="matForm.controls.faculty.invalid">
            You must select a faculty.
          </mat-error>
        </mat-form-field>

        <button
          mat-raised-button
          color="primary"
          type="submit"
          fxFlex="15%"
          class="btn"
        >
          Show Students
        </button>
      </form>
    </mat-card-content>

    <mat-card-actions>
      <button mat-button routerLink="/secretary">Back</button>
    </mat-card-actions>
  </mat-card>

  <div
    *ngIf="selectedFaculty && selectedStudent == null"
    class="students-table"
  >
    <mat-card>
      <mat-card-header>
        <mat-card-title>Students</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field>
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="" />
        </mat-form-field>

        <mat-table [dataSource]="dataSource" matSort>
          <!-- Certificate Id Column -->
          <ng-container matColumnDef="stdId">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Student Id
            </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="Student Id">
              {{ element.stdId }}
            </mat-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Name
            </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="Name">
              {{ element.firstName + " " + element.lastName }}
            </mat-cell>
          </ng-container>

          <!-- Group Column -->
          <ng-container matColumnDef="group">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Group
            </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="Group">
              {{ element.group.name }}
            </mat-cell>
          </ng-container>

          <!-- Motivation Column -->
          <ng-container matColumnDef="username">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Username
            </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="Username">
              {{ element.userName }}
            </mat-cell>
          </ng-container>

          <!-- Status Column -->
          <ng-container matColumnDef="stdyYr">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Study Year
            </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="Status">
              {{ element.studyYear }}
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row
            class="row"
            *matRowDef="let row; columns: displayedColumns"
            (click)="goToContracts(row)"
          ></mat-row>
        </mat-table>
        <mat-paginator
          [pageSize]="[10]"
          [pageSizeOptions]="[5, 10, 20]"
          [showFirstLastButtons]="true"
        ></mat-paginator>
      </mat-card-content>
    </mat-card>
  </div>

  <div
    *ngIf="selectedFaculty && selectedStudent && !selectedContract"
    class="contracts-table"
  >
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Contracts for
          {{ selectedStudent.firstName + " " + selectedStudent.lastName }}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-table [dataSource]="contractsDataSource" matSort>
          <ng-container matColumnDef="ctrId">
            <mat-header-cell *matHeaderCellDef>
              Contract Id
            </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="Contract Id">
              {{ element.ctrId }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="stdyType">
            <mat-header-cell *matHeaderCellDef>
              Study Type
            </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="Study Type">
              {{ element.stdyType == "budget" ? "BUDGET" : "TAX" }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="stdyYr">
            <mat-header-cell *matHeaderCellDef>
              Study Year
            </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="Study Year">
              {{ element.stdyYr }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="year">
            <mat-header-cell *matHeaderCellDef>
              Year
            </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="Year">
              {{ element.year }}
            </mat-cell>
          </ng-container>

          <mat-header-row
            *matHeaderRowDef="contractsDisplayedColumns"
          ></mat-header-row>
          <mat-row
            class="row"
            *matRowDef="let row; columns: contractsDisplayedColumns"
            (click)="showContract(row)"
          ></mat-row>
        </mat-table>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="back()">Back</button>
        <button mat-raised-button (click)="add()">Add Contract</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div
    *ngIf="selectedFaculty && selectedStudent && selectedContract"
    class="contract-form"
  >
    <mat-card>
      <mat-card-header>
        <mat-card-title *ngIf="!isNewContract">
          Show/Edit a Contract
        </mat-card-title>
        <mat-card-title *ngIf="isNewContract">
          Create a Contract
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="contrForm" fxLayout="column">
          <div
            fxLayout="row"
            fxLayout.lt-md="column"
            fxLayoutGap="30px"
            fxLayoutGap.lt-md="10px"
          >
            <mat-form-field
              *ngIf="!isNewContract"
              fxFlex="50%"
              fxFlex.lt-md="100%"
            >
              <mat-label>Contract Id</mat-label>
              <input matInput type="text" formControlName="ctrId" required />
            </mat-form-field>

            <mat-form-field fxFlex="50%" fxFlex.lt-md="100%">
              <mat-label>Study Type</mat-label>
              <mat-select formControlName="stdyType" required>
                <mat-option value="budget">BUDGET</mat-option>
                <mat-option value="tax">TAX</mat-option>
              </mat-select>

              <mat-error *ngIf="contrForm.controls.stdyType.invalid">
                You must select a study type
              </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="50%" fxFlex.lt-md="100%">
              <mat-label>Study Year</mat-label>
              <input matInput type="text" formControlName="stdyYr" required />

              <mat-error *ngIf="contrForm.controls.stdyYr.invalid">
                You must enter a study year with only numbers
              </mat-error>

              <button
                mat-button
                *ngIf="contrForm.controls.stdyYr.value"
                matSuffix
                mat-icon-button
                aria-label="Clear"
                (click)="contrForm.controls.stdyYr.setValue('')"
              >
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>

            <mat-form-field fxFlex="50%" fxFlex.lt-md="100%">
              <mat-label>Year</mat-label>
              <input matInput type="text" formControlName="year" required />

              <mat-error *ngIf="contrForm.controls.year.invalid">
                You must enter a year with only numbers
              </mat-error>

              <button
                mat-button
                *ngIf="contrForm.controls.year.value"
                matSuffix
                mat-icon-button
                aria-label="Clear"
                (click)="contrForm.controls.year.setValue('')"
              >
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>

          <div
            fxLayout="row"
            fxLayout.lt-md="column"
            fxLayoutGap="30px"
            fxLayoutGap.lt-md="10px"
          >
            <button
              mat-raised-button
              color="primary"
              type="submit"
              fxFlex="15%"
              fxFlex.lt-md="100%"
              class="btn"
              *ngIf="isNewContract"
              (click)="addContract()"
            >
              Add Contract
            </button>
            <button
              mat-raised-button
              color="primary"
              type="submit"
              fxFlex="20%"
              class="btn"
              *ngIf="!isNewContract"
              (click)="updateContract()"
            >
              Update Contract
            </button>
            <button
              mat-raised-button
              color="primary"
              type="submit"
              fxFlex="20%"
              class="btn"
              *ngIf="!isNewContract"
              (click)="deleteContract()"
            >
              Delete Contract
            </button>
          </div>
        </form>
      </mat-card-content>

      <mat-card-actions>
        <button mat-button (click)="selectedContract = false">Back</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
