.login {
    text-align: center;
    margin-top: 25em;
}

.login-button {
    width: 200px;
    height: 100px;
    font-size: 45px;
    background-color: #4a90c2;
}

.mat-nav-disabled {
    display: none;
}