<div class="content">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="" />
  </mat-form-field>

  <mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
    <!-- Certificate Id Column -->
    <ng-container matColumnDef="certId">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Certificate Id
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.certId }} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.student.firstName + " " + element.student.lastName }}
      </mat-cell>
    </ng-container>

    <!-- Group Column -->
    <ng-container matColumnDef="group">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Group
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.student.group }}
      </mat-cell>
    </ng-container>

    <!-- Motivation Column -->
    <ng-container matColumnDef="motivation">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Motivation
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.motivation }} </mat-cell>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Status
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.status }} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  <mat-paginator
    [pageSize]="[10]"
    [pageSizeOptions]="[5, 10, 20]"
    [showFirstLastButtons]="true"
  ></mat-paginator>
</div>
