.button-div {
  margin-top: 20px;
  align-items: center;
  height: 200px;
}

.option-button {
  width: 51%;
  height: 100px;
  font-size: 160%;
}

@media only screen and (max-width: 500px) {
  .option-button {
    font-size: 90%;
  }
}

.form {
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
}