<ng-container *ngIf="!optionPicked">
  <div
    class="button-div"
    fxLayout="column"
    fxLayour.lt-md="column"
    fxLayoutGap="30px"
    fxLayoutGap.lt-md="10px"
  >
    <button
      class="option-button"
      mat-raised-button
      color="primary"
      fxFlex="50%"
      fxFlex.lt-md="100%"
      (click)="selectOption('add')"
    >
      Add Faculty
    </button>
    <button
      class="option-button"
      mat-raised-button
      color="primary"
      fxFlex="50%"
      fxFlex.lt-md="100%"
      (click)="selectOption('edit')"
    >
      Show or Edit Faculties
    </button>
  </div>
</ng-container>
<ng-container *ngIf="optionPicked">
  <ng-container *ngIf="option == 'add'">
    <div class="form">
      <form
        fxLayout="row"
        fxLayout.lt-md="column"
        fxLayoutGap="30px"
        fxLayoutGap.lt-md="10px"
        [formGroup]="matForm"
        (ngSubmit)="addFaculty()"
      >
        <mat-form-field fxFlex="50%" fxFlex.lt-md="100%">
          <mat-label>Faculty Name</mat-label>
          <input matInput type="text" formControlName="name" required />

          <mat-error *ngIf="matForm.controls.name.invalid">
            You must enter a faculty name with only letters and spaces
          </mat-error>

          <button
            mat-button
            *ngIf="matForm.controls.name.value"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="matForm.controls.name.setValue('')"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          fxFlex="10%"
          class="btn"
        >
          Add
        </button>
      </form>
    </div>
  </ng-container>
  <ng-container *ngIf="option == 'edit' && facultyList != null">
    <div class="form">
      <form
        [formGroup]="matForm"
        fxLayout="row"
        fxLayout.lt-md="column"
        fxLayoutGap="30px"
        fxLayoutGap.lt-md="10px"
      >
        <mat-form-field fxFlex>
          <mat-label>Faculty</mat-label>
          <mat-select formControlName="faculty" required>
            <mat-option *ngFor="let fac of facultyList" [value]="fac">
              {{ fac.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>

      <ng-container *ngIf="matForm.controls.faculty.value">
        cra
      </ng-container>
    </div>
  </ng-container>
</ng-container>
