spring:
  application:
    name: student-portal
  jmx:
    default-domain: student-portal
  datasource:
      url: jdbc:sqlserver://student-portal.database.windows.net:1433;database=StudentPortal;encrypt=true;trustServerCertificate=false;hostNameInCertificate=*.database.windows.net;loginTimeout=30;
      username: yyystudport1234
      password: ProiectIP$2020
      driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
      hikari:
        data-source-properties:
          cachePrepStmts: true
          prepStmtCacheSize: 250
          prepStmtCacheSqlLimit: 2048
          useServerPrepStmts: false
        maximum-pool-size: 50
  jpa:
    database-platform: org.hibernate.dialect.SQLServer2008Dialect
    database: SQL_SERVER
    show-sql: true
    hibernate:
      ddl-auto: none
    properties:
      hibernate.dialect: org.hibernate.dialect.SQLServer2012Dialect
      hibernate.jdbc.batch_size: 20
      hibernate.cache.use_second_level_cache: false
      hibernate.enable_lazy_load_no_trans: true
      hibernate.show_sql: true
      hibernate.format_sql: true
  jta:
    enabled: false

server:
  port: 8080
  servlet:
    context-path: /student-portal
    
azure:
  activedirectory:
    client-id: 06067589-5dc1-4e8e-a565-7d4e370ac6df
    client-secret: ".:aFE73_hF/57rz[mVV]/?Vyfnx2.R-F"
    user-group:
      allowed-groups:
      - Student
      - Admin
      - Secretary
      
# Actuator Properties
management:
  endpoints:
    web:
      exposure:
        include:
        - loggers
        - health
        - info
        - metrics
        - env
  endpoint:
    env:
      enabled: true
    loggers:
      enabled: true
    health:
      enabled: true
    info:
      enabled: true
    metrics:
      enabled: true