server:
  port: 8080
  servlet:
    context-path: /student-portal
    
azure:
  activedirectory:
    client-id: 06067589-5dc1-4e8e-a565-7d4e370ac6df
    client-secret: ".:aFE73_hF/57rz[mVV]/?Vyfnx2.R-F"
    user-group:
      allowed-groups:
      - Student
      - Admin
      - Secretary
      
# Actuator Properties
management:
  endpoints:
    web:
      exposure:
        include:
        - loggers
        - health
        - info
        - metrics
        - env
  endpoint:
    env:
      enabled: true
    loggers:
      enabled: true
    health:
      enabled: true
    info:
      enabled: true
    metrics:
      enabled: true