<div
  class="routing-div"
  fxLayout="column"
  fxLayour.lt-md="column"
  fxLayoutGap="30px"
  fxLayoutGap.lt-md="10px"
>
  <button
    class="routing-button"
    mat-raised-button
    color="primary"
    fxFlex="50%"
    fxFlex.lt-md="100%"
    routerLink="faculty"
  >
    Faculty
  </button>
  <button
    class="routing-button"
    mat-raised-button
    color="primary"
    fxFlex="50%"
    fxFlex.lt-md="100%"
    routerLink="department"
  >
    Department
  </button>
  <button
    class="routing-button"
    mat-raised-button
    color="primary"
    fxFlex="50%"
    fxFlex.lt-md="100%"
    routerLink="series"
  >
    Series
  </button>
  <button
    class="routing-button"
    mat-raised-button
    color="primary"
    fxFlex="50%"
    fxFlex.lt-md="100%"
    routerLink="group"
  >
    Group
  </button>
  <button
    class="routing-button"
    mat-raised-button
    color="primary"
    fxFlex="50%"
    fxFlex.lt-md="100%"
    routerLink="student"
  >
    Student
  </button>
  <button
    class="routing-button"
    mat-raised-button
    color="primary"
    fxFlex="50%"
    fxFlex.lt-md="100%"
  >
    Course
  </button>
</div>
<router-outlet></router-outlet>
