<div
  class="routing-div"
  fxLayout="column"
  fxLayour.lt-md="column"
  fxLayoutGap="30px"
  fxLayoutGap.lt-md="10px"
>
  <button
    class="routing-button"
    mat-raised-button
    color="primary"
    fxFlex="50%"
    fxFlex.lt-md="100%"
    routerLink="contract"
  >
    Contract
  </button>
  <button
    class="routing-button"
    mat-raised-button
    color="primary"
    fxFlex="50%"
    fxFlex.lt-md="100%"
    routerLink="certificate"
  >
    Certificate
  </button>
</div>
<router-outlet></router-outlet>
